{%  extends 'lunch/main.html' %}

{% block content %}

        <br>
        
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
                    
                    <h5>{{object.employee.workplace}}</h5>
                    <h5>{{object.employee.name}}</h5>
					<h6>Created at: {{object.date_created}}</h6>
					<p><a href="{% url 'lunch:order_update' object.id %}">Edit </a>
                    <a href="{% url 'lunch:order_delete' object.id %}">Delete </a></p>
                    
				</div>
				<div class="card card-body">
					<div class="table-responsive">
						<table class="table table-hover table-sm">
							<tr>
								<th>Employee</th>
								<th>Dish</th>
								<th>Status</th>
								<th>Comment</th>
						    
								<tr>
                                    <td>{{order.employee}}</td>
                                    <td>{{order.dish}}</td>	
									<td>{{order.status}}</td>

									{% if order.comment %}

									<td>{{order.comment}}</td>

									{% else %} 

									<td>-</td>
									
									{% endif %}	

                                </tr>	    
							
						</table>
				    </div>
				</div>
			</div>
			
		</div>

{% endblock content %}