{%  extends 'lunch/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				<div class="form-group">
					{% csrf_token %}
                    <textarea type="text" class="form-control my-2" rows=12 name="message" required>Good Morning!, click for todays menu: </textarea>
                    <select name="menu" value="" required>

                            <option value="">Insert a link to a menu </option>
                            

                        {% for i in menus %}

                            <option value="{{i.id}}" name="menu_id">{{i.name}}</option>

                        {% endfor %}

                    </select>

                        <small><b>Hint:</b> Include a url to your menu.
                </div>

                    <div class="my-2">
                        <ul>
                            {% for dish in menu.dishes.all %}
                            <li>{{i}}</li>
                            {% endfor %}

                        </ul>
                        
                    </div>

                <input type="submit" name="Submit">
                
			</form>
			
            {% if success %}

			<div class="alert alert-success my-2" role="alert">

                {{success}} <a href="{% url 'slackapp:reminders' %}">My reminders</a>
                
              </div>
              
            {% endif %}
            
		</div>
	</div>
</div>

{% endblock %}